<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd"
       default-autowire="byType">

    <bean id="empresaDao" class="net.kielsaenz.consultorio.dao.hibernate.EmpresaDaoHbn" />
    <bean id="ubigeoDao" class="net.kielsaenz.consultorio.dao.hibernate.UbigeoDaoHbn" />
    <bean id="sucursalDao" class="net.kielsaenz.consultorio.dao.hibernate.SucursalDaoHbn" />
    <bean id="usuarioDao" class="net.kielsaenz.consultorio.dao.hibernate.UsuarioDaoHbn" />

    <bean id="empresaService" class="net.kielsaenz.consultorio.service.implementacion.EmpresaServiceImpl">
        <property name="empresaDao" ref="empresaDao" />
    </bean>

    <bean id="usuarioService" class="net.kielsaenz.consultorio.service.implementacion.UsuarioServiceImpl">
        <property name="usuarioDao" ref="usuarioDao" />
        <property name="empresaService" ref="empresaService" />
    </bean>

    <!--  
    <bean id="ubigeoService" class="net.kielsaenz.consultorio.service.implementacion.UbigeoServiceImpl">
        <property name="ubigeoDao" ref="ubigeoDao" />
    </bean>
    
    <bean id="sucursalService" class="net.kielsaenz.consultorio.service.implementacion.SucursalServiceImpl">
        <property name="sucursalDao" ref="sucursalDao" />
    </bean>-->
</beans>
