@CHARSET "ISO-8859-1";
#main_login{
    width:800px;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    margin-top: 100px;
}
.login_bg{
    width:792px;
    height:240px;
    clear:both;
    padding-top:50px;
    border:solid;
    border-color:#CFE0F1;
    background-color:#FFFFFF;
    background:url(../img/box_loguin_bg.gif) repeat-x ;
}
.title_login{
    width:291px;
    height:210px;
    padding: 0px 300px 0px 0px;
    background:url(../img/login_title.png) no-repeat;
    margin:auto;
}
.form_login{
    padding: 60px 0px 0px 230px;
    margin:auto;
}
.x4 {
    COLOR: #3b5564;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    font-size:12px;
    border:1px solid #7f9db9;
    height:auto;
}
.x7g {
    BORDER-RIGHT: #7b8194 1px solid; 
    PADDING-RIGHT: 8px;
    BACKGROUND-POSITION: left top;
    BORDER-TOP: #a5a9b6 1px solid;
    PADDING-LEFT: 8px;
    FONT-WEIGHT: bold;
    MARGIN: 1px;
    OVERFLOW: visible;
    BORDER-LEFT: #a5a9b6 1px solid;
    height: 21px;
    CURSOR: hand;
    COLOR: #586073;
    BORDER-BOTTOM: #7b8194 1px solid;
    BACKGROUND-REPEAT: repeat-x;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #c9e5ec;
    TEXT-ALIGN: center; font-size:11px;
}
