@CHARSET "ISO-8859-1";
body.principal {
    background:url(../img/bg.jpg) no-repeat top center #97cae4;
    margin:0px;
    padding:0px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color: #3b5564;
}
#cabecera{
    height: 100px;
}
#cuerpo{
    margin-bottom:10px;
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;
    height:auto;
}
#pie{
    height: 30px;
}
#tituloFormulario{
    height:20px;
    text-align:center;
    font-size:18px;
    font-weight:bold;
}
label{
    float:left;
    width:140px;
    font-size:14px;
    font-weight:bold;
    margin-right:5px;
    text-align:right;
}
.textoSimple{
    width:200px;
}
.textoDoble{
    width:554px;
}
.errorMessage{
    font-size:12px;
    font-weight:bold;
    color: #C40000;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    margin:auto;
    background:url(../img/header_bg.gif) repeat-x;
}
.right_header{
    float:right;
    width:550px;
}
.top_menu{
    width:285px;
    float:right;
}
.x1h {
    BORDER-RIGHT: #c9cbd3 1px solid;
    BORDER-TOP: #c9cbd3 1px solid;
    BORDER-LEFT: #c9cbd3 1px solid;
    BORDER-BOTTOM: #c9cbd3 1px solid;
    BORDER-COLLAPSE: collapse
}
.x4j {
    FONT-SIZE: x-small;
    BORDER-RIGHT: #c9cbd3 0px solid;
    BORDER-TOP: #c9cbd3 0px solid;
    BORDER-LEFT: #c9cbd3 1px solid;
    BORDER-BOTTOM: #c9cbd3 0px solid;
    BACKGROUND-COLOR: #cfe0f1;
}
.x4x {
    FONT-SIZE: x-small;
    BORDER-RIGHT: #c9cbd3 1px solid;
    BORDER-TOP: #c9cbd3 1px solid;
    BORDER-LEFT: #c9cbd3 1px solid;
    BORDER-BOTTOM: #c9cbd3 1px solid;
    BACKGROUND-COLOR: #f2f2f5
}
