@CHARSET "ISO-8859-1";
#cabecera{
    height: 100px;
}
#cuerpo{
	margin-bottom:10px;
	margin-top:10px;
	margin-left:10px;
	margin-right:10px;
	height:auto;
}
#pie{
    height: 30px;
}
#body{
	background-color:#D6EEFC;
}
#tituloFormulario{
    height:20px;
    text-align:center;
    font-size:18px;
    font-weight:bold;
}
label{
    float:left;
    width:140px;
    font-size:14px;
    font-weight:bold;
    margin-right:5px;
    text-align:right;
}
.textoSimple{
    width:200px;
}
.textoDoble{
    width:554px;
}